*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    background-color: #d0d4d5;
    width: 100%;
    height: 100vh;
    position: relative;
}
.header{
    /* position: absolute; */
    width: 100%;
    height: 70px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 80px;
}
.head1 img{
    position: absolute;
    width:8%;
}
/* .head1 img{
    position: absolute;
    width: 100%;
} use both of these to get a cool design
span{
    color: #fff;
} */
.header .head2{
    display: flex;
}
.head2 a{
    margin-left: 40px;
    text-transform: uppercase;
    font-family: serif;
    font-weight:600;
    font-size: 18px;
    /* border-bottom: 2px solid transparent; */
    transition: all 0.3s ease-in-out ;
    /* padding: 10px; */
    color: #000;
    text-decoration: none;
}


.head2 a:hover{
    /* border-bottom: 2px solid #000; */
    transition: all 0.3s ease-in-out ;
    background-color: #fff;
    padding: 8px 20px ;
    border-radius: 50px;
}
.head2 a:active{
    padding: 8px 20px ;
    transition: all 0.3s ease-in-out ;
    /* background-color: #fff; */
}
.head3 {
    display: flex;
}
.head3 h5{
    margin-left: 40px;
    font-size: 20px;
}

/* ........part2........ */
.part2{
    width: 100%;
    height:calc(100vh - 70px) ;
    /* background-color: red; */
    display: flex;
    position: relative;
}
.left{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    padding: 8% 80px;
}
.left h5{
    font-size: 20px;
    color: #3c3e3e;
    margin-bottom: 20px;
}
.left h1{
    font-size:60px ;
    text-transform: uppercase;
    /* line-height: 50px; */
    margin-bottom: 30px;
}
.left h4{
    font-size: 18px;
    color: #3c3e3e;
    margin-bottom: 40px;
    width: 80%;
}
.left button{
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    outline: none;
    border: 0;
    border-top-left-radius: 0;
    margin-bottom: 25px;
}

.left button:hover{
    color: black;
    background-color: blanchedalmond;
    transition: background-color 1s ease;
}

.right{
    width: 60%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
}
.right::-webkit-scrollbar{
    display: none;
}
.right .card{
    position: relative;
    top: 10%;
    background-color: #fff;
    width: 340px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-right: 20px;
}
.right .card img{
    position: absolute;
    width: 100%;
    top: 8%;
}
.card:nth-child(2) img,
.card:nth-child(3) img,
.card:nth-child(4) img,
.card:nth-child(5) img
{
    top: 22%;
}
/* .card:nth-child(3) img{
    top: 25%;
} */
/* after adding an image code css for that here */

.card h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #d0d4d5;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
}
.card h5{
    position: absolute;
    bottom: 7.2%;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
}